.cardAll {
    margin-bottom: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.82),rgba(77, 19, 19, 0.864) );
    width: 1200px;
    height: 600px;
}

.basket {
    display:flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
}

.basket2 {
    height: 500px;
    width: 1000px;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;

}

.orderbtn {
    height: 70px;
    width: 300px;
    font-size: 35px;
} 